# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  ssl_certificate: !secret http_ssl_certificate
  ssl_key: !secret http_ssl_key
  base_url: !secret http_external_url

# Text to speech
tts:
  - platform: google_translate

lovelace:
  mode: yaml

# python_script:

# custom_updater:
#   track:
#     - components
#     - cards
#     - python_scripts
#   card_urls:
#     - https://raw.githubusercontent.com/rdehuyss/homeassistant-lovelace-google-calendar-card/master/custom_updater.json
#     - https://raw.githubusercontent.com/kalkih/mini-media-player/master/tracker.json
#     - https://raw.githubusercontent.com/kalkih/mini-graph-card/master/tracker.json
#     - https://raw.githubusercontent.com/maykar/custom-lovelace/master/tracker.json
#     - https://raw.githubusercontent.com/ljmerza/waze-card/master/updater.json

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

media_player:
  - platform: spotify
    client_id: !secret spotify_client_id
    client_secret: !secret spotify_client_secret

  - platform: samsungtv
    host: !secret samsungtv_host
    name: Samsung TV
    mac: !secret samsungtv_host_mac

#IOS
ios:

# Discover some devices automatically
discovery:

weather:
  - platform: openweathermap
    api_key: !secret openweathermap_key

sensor: !include_dir_merge_list sensors
input_number: !include_dir_merge_named input_numbers 

automation: !include_dir_merge_list automation
zone: !include zones.yaml
camera: !include_dir_merge_list cameras/
shell_command: !include misc/shell_commands.yaml
switch: !include_dir_merge_list switches/